*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
header{
    background-color: #EAC926;
    padding: 20px 20px 15px;
    width: 100%;
}
main{
    margin: auto;
    width: 90%;
}
figure{
    display: flex;
    width: 100%;
}
figure img{
    width: 100%;
    height: 100%;
}
.header-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logo{
    width: 50%;
    padding-right: 8px;
}
form{
    width: 50%;
    align-self: center;
}
fieldset{
    border: none;
    display: flex;
    position: relative;
}
.input-search{
    border: none;
    border-radius: 5px;
    padding: 8px 4px;
    width: 100%;
    padding-left: 6px;
    outline-color: #1259c3;
}
button{
    border: none;
    background-color: #fff;
    color: #666;
}
.lupa{
    position: absolute;
    right: 4px;
    top: 5px;
    background-color: #fff;
    padding: 5px;
    
}
.header-p{
    font-size: 12px;
    text-align: center;
    padding: 15px 10px;
}
.nav-top{
    display: none;
    font-size: 12px;
}
.nav-bottom{
    display: none;
    font-size: 12px;
    text-decoration: none;
}
.nav-top a{
    color: #000;
    text-decoration: none;
}
.nav-bottom a{
    color: #000;
    text-decoration: none;
}
.banner{
    width: 100%;
}
h2{
    font-size: 24px;
    color: #666;
    margin: 20px 0 5px;
}
article{
    background-color: #fff;
    margin: 10px 0px;
}
.descripcion{
    display: flex;
    border-top: 1px solid #ebebeb;
    background-color: #fff;
    padding: 15px;
    position: relative;
    justify-content: center;
    width: 100%;
    align-items: baseline;
    
}
.camion{
    color: #39b54a;
    background-color: #fff;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
.precio{
    font-size: 18px;
    width: 40%;
    text-align: center;
}
.descuento{
    font-size: 16px;
    color: #39b54a;
    width: 40%;
    text-align: center;
}
.nombre-producto{
    display: none;
    font-size: 16px;
    color: #666;
    font-weight: 400;
    width: 100%;
}
.burger-menu{
    background-color: #1259c3;
    text-align: center;
    max-width: 30px;
    padding: 6px;
    border-radius: 4px;
    font-size: 15px;
    margin: auto;
}
.barras{
    color: hsl(0, 100%, 100%);
}
footer{
    padding: 20px 10px 12px;
    margin: 5px;
    text-align: center;
    background-color: #fff;
}
footer section{
    padding: 20px;
}
.icon{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}
.titulo-footer{
    font-size: 12px;
    color: 666;
}
.copy-footer,
.texto-footer{
    color: rgb(134, 134, 134);
    font-size: 12px;
}
@media (min-width: 300px){
    .precio{
        width: 35%;
    }
    .descuento{
        width: 35%;
    }
}
@media (min-width: 330px){
    .precio{
        width: 30%;
        text-align: start;
    }
    .descuento{
        width: 70%;
        text-align: start;
    }
}