<!DOCTYPE html>
<html lang="en">
<%- include("./include/head.ejs") %> 
<body>
    <%- include("./include/header.ejs") %> 
    <figure>
        <img src="assets/img-home-banner.jpg" alt="Banner" class="banner">
    </figure>
    <main>
        <h2>Basado en tu última visita</h2>
        <section class="section-main">
            <article>
                <figure>
                    <img src="/assets/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                </figure>
                <section class="descripcion">
                    <i class="fa-solid fa-truck camion"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% off</p>
                    <h3 class="nombre-producto">Cafetera Moulinex</h3>
                </section>
            </article>
            <article>
                <figure>
                    <img src="/assets/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                </figure>
                <section class="descripcion">
                    <i class="fa-solid fa-truck camion"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                    <h3 class="nombre-producto">MacBook Pro 2019</h3>
                </section>
            </article>
            <article>
                <figure>
                    <img src="/assets/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                </figure>
                <section class="descripcion">
                    <i class="fa-solid fa-truck camion"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <h3 class="nombre-producto">Samsung Galaxy S10</h3>
                </section>
            </article>
            <article>
                <figure>
                    <img src="assets/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43''">
                </figure>
                <section class="descripcion">
                    <i class="fa-solid fa-truck camion"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <h3 class="nombre-producto">SmartTv Samsung 43"</h3>
                </section>
            </article>
        </section>
        <h2>Ofertas</h2>
        <section class="section-main">
            <article>
                <figure>
                    <img src="/assets/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                </figure>
                <section class="descripcion">
                    <i class="fa-solid fa-truck camion"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% off</p>
                    <h3 class="nombre-producto">Cafetera Moulinex</h3>
                </section>
            </article>
            <article>
                <figure>
                    <img src="/assets/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                </figure>
                <section class="descripcion">
                    <i class="fa-solid fa-truck camion"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                    <h3 class="nombre-producto">MacBook Pro 2019</h3>
                </section>
            </article>
            <article>
                <figure>
                    <img src="/assets/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                </figure>
                <section class="descripcion">
                    <i class="fa-solid fa-truck camion"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <h3 class="nombre-producto">Samsung Galaxy S10</h3>
                </section>
            </article>
            <article>
                <figure>
                    <img src="assets/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43''">
                </figure>
                <section class="descripcion">
                    <i class="fa-solid fa-truck camion"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <h3 class="nombre-producto">SmartTv Samsung 43"</h3>
                </section>
            </article>
        </section>
    </main>
    <section class="footer-section">
        <footer>
            <section>
                <i class="fa-solid fa-credit-card icon"></i>
                <p class="titulo-footer">Pagá con tarjeta o en efectivo</p>
                <p class="texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <i class="fa-solid fa-gift icon"></i>
                <p class="titulo-footer">Envío gratis desde $ 2.500</p>
                <p class="texto-footer">Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <i class="fa-solid fa-user-shield icon"></i>
                <p class="titulo-footer">Seguridad, de principio a fin</p>
                <p class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
            </section>
            <section class="copy-footer">
                <p>Copyright © 1999-2022 MercadoLiebre S.R.L.</p>
            </section>
        </footer>
</section>
</body>
</html>