<!DOCTYPE html>
<html lang="en">
<%- include("./include/head.ejs") %> 
<body>
    <%- include("./include/header.ejs") %> 
    <main>
        <form action="/" method="post" class="form-login">
            <fieldset class="fieldset-login">
                <label>Nombre de usuario</label>
                <input type="text" name="usuario" id="usuario" class="input-text" minlength="2" required>
            </fieldset>
            <fieldset class="fieldset-login">
                <label>Contrase単a</label>
                <input type="password" name="password" id="password" class="input-text" required>
            </fieldset>
            <fieldset class="fieldset-login">
                <label>Confirmar contrase単a</label>
                <input type="password" name="password" id="confirm-password" class="input-text" required>
            </fieldset>
            <fieldset class="buttom-login">
                <button>Enviar</button>
            </fieldset>
            <fieldset class="fieldset-a">
                <a href="/" target="_blank"">多Has olvidado tu contrase単a?</a>
            </fieldset>
        </form>
    </main>
    <section class="footer-section">
    <%- include("./include/footer.ejs") %>
</section>
</body>
</html>