<!DOCTYPE html>
<html lang="en">
<%- include("./include/head.ejs") %> 
<body>
    <%- include("./include/header.ejs") %> 
    <main>
        <form action="/" method="post" class="form-login">
            <fieldset class="fieldset-login">
                <label>Nombre de usuario</label>
                <input type="text" name="usuario" id="usuario" class="input-text" minlength="2" required>
            </fieldset>
            <fieldset class="fieldset-login">
                <label>Contraseña</label>
                <input type="password" name="password" id="password" class="input-text" required>
            </fieldset>
            <fieldset class="fieldset-login">
                <label>Confirmar contraseña</label>
                <input type="password" name="password" id="confirm-password" class="input-text" required>
            </fieldset>
            <fieldset class="buttom-login">
                <button>Enviar</button>
            </fieldset>
            <fieldset class="fieldset-a">
                <a href="/" target="_blank"">¿Has olvidado tu contraseña?</a>
            </fieldset>
        </form>
    </main>
    <section class="footer-section">
        <footer>
            <section>
                <i class="fa-solid fa-credit-card icon"></i>
                <p class="titulo-footer">Pagá con tarjeta o en efectivo</p>
                <p class="texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <i class="fa-solid fa-gift icon"></i>
                <p class="titulo-footer">Envío gratis desde $ 2.500</p>
                <p class="texto-footer">Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <i class="fa-solid fa-user-shield icon"></i>
                <p class="titulo-footer">Seguridad, de principio a fin</p>
                <p class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
            </section>
            <section class="copy-footer">
                <p>Copyright © 1999-2022 MercadoLiebre S.R.L.</p>
            </section>
        </footer>
</section>
</body>
</html>