<header>
    <section class="header-section">
        <figure class="logo">
            <img src="/assets/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        </figure>
        <form action="/" method="get">
            <fieldset>
                <input class="input-search" type="text" name="search" id="search" placeholder="Buscar productos, marcas y más">
                <button><i class="fa-solid fa-search lupa"></i></button>
            </fieldset>
        </form>
        <p class="header-p"><i class="fa-solid fa-hand-holding-dollar mano"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </section>
    <section class="header-nav">
        <nav class="nav-top">
            <a href="#">Ofertas</a>
            <a href="#">Tiendas Oficiales</a>
            <a href="#">Vender</a>
            <a href="#">Ayuda</a>
        </nav>
        <nav class="nav-bottom">
            <a href="/register">Creá tu cuenta<i class="fa-regular fa-id-card icon-nav"></i></a>
            <a href="/login">Ingresa<i class="fa-solid fa-right-to-bracket icon-nav"></i></a>
            <a href="#">Mis Compras<i class="fa-solid fa-basket-shopping icon-nav"></i></a>
        </nav>
        <nav class="burger-menu">
            <a href="#"><i class="fas fa-bars barras"></i></a>
        </nav>
    </section>
</header>